<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        {% load mptt_tags %}
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="/static/img/profile_small.jpg"/></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">Admin</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                        </li>
                        <li><a class="J_menuItem" href="profile.html">个人资料</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">H+
                </div>
            </li>
            {% recursetree menus %}
                <li>
                    <a
                            href="{{ node.menu_url }}"
                            {% if  node.is_leaf_node %} class="J_menuItem" {% endif %}>
                        {% if not node.is_leaf_node %}
                            <i class="fa fa-home"></i>
                        {% endif %}
                        <span class="nav-label">{{ node.menu_name }}</span>
                        {% if not node.is_leaf_node %}
                            <span class="fa arrow"></span>
                        {% endif %}
                    </a>
                    {% if not node.is_leaf_node %}
                        <ul class="nav nav-second-level">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>
</nav>